<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ContextDemos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.hcl.demo.DemoServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>course</param-name>
      <param-value>java</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>venue</param-name>
      <param-value>bluelotus</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>company</param-name>
      <param-value>hcl</param-value>
    </init-param>
  </servlet>
  <context-param>
  <param-name>driver</param-name>
  <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  
  <context-param>
  <param-name>connection</param-name>
  <param-value>jdbc:mysql://localhost:3307/sqlpractice</param-value>
  </context-param>
  
  <context-param>
  <param-name>user</param-name>
  <param-value>root</param-value>
  </context-param> 
  
  <context-param>
  <param-name>pwd</param-name>
  <param-value>root</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
</web-app>